/CMakeCache.txt
/CMakeFiles/*
/cmake_install.cmake
/.cproject
/Makefile
/.project
/readme.sh~
/clang_reflection_generator
/CMakeFiles/clang_reflection_generator.dir/CXX.includecache
/CMakeFiles/clang_reflection_generator.dir/depend.internal
/CMakeFiles/clang_reflection_generator.dir/src/enumex_tools.cpp.o
/CMakeFiles/clang_reflection_generator.dir/src/main.cpp.o
/CMakeFiles/clang_reflection_generator.dir/src/enum_codegenerator.cpp.o
/CMakeFiles/clang_reflection_generator.dir/src/enum_parser.cpp.o
/CMakeLists.txt~
/compile_commands.json
/README.md~
/CMakeFiles/cpp_reflection_generator.dir/build.make
/CMakeFiles/cpp_reflection_generator.dir/cmake_clean.cmake
/CMakeFiles/cpp_reflection_generator.dir/CXX.includecache
/CMakeFiles/cpp_reflection_generator.dir/DependInfo.cmake
/CMakeFiles/cpp_reflection_generator.dir/depend.internal
/CMakeFiles/cpp_reflection_generator.dir/depend.make
/CMakeFiles/cpp_reflection_generator.dir/flags.make
/CMakeFiles/cpp_reflection_generator.dir/link.txt
/CMakeFiles/cpp_reflection_generator.dir/progress.make
/CMakeFiles/cpp_reflection_generator.dir/src/enum_codegenerator.cpp.o
/CMakeFiles/cpp_reflection_generator.dir/src/enum_parser.cpp.o
/CMakeFiles/cpp_reflection_generator.dir/src/main.cpp.o
/cpp_reflection_generator
/example/a.out
/CMakeFiles/cpp_reflection_generator.dir/src/struct_parser.cpp.o
/CMakeFiles/cpp_reflection_generator.dir/src/common_parser.cpp.o
/doc/html
